
:root {
  --primary-color: #F8F9FA;
  --secondary-color: #f1eeee;
  --accent-color: #e74c3c;
  --text-color: #000000;
  --font:'Bai Jamjuree', sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1 {
  color: var(--accent-color);
}


